
<div class="row justify-content-md-center">
  
<div class="col-sm-3 shadow-lg bg-body  card mb-4 no-border">
  <h3 >Login Page</h3>
    <img src="assets/login/tropical.jpg" class="card-img-top" alt="..." height="250px">
    <div class="card-body m-4">
      <h3 class="card-title mb-2 ">Sign In</h3>
      <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      <input type="text" class="form-control mb-3 " id="inputPassword2" placeholder="Username">
      <input type="password" class="form-control  mb-2  " id="inputPassword2" placeholder="Password">

      <div class="d-grid gap-2">
        <button class="btn green" type="button">Sign In</button>
      </div>
      <a href ="">forget password</a>
    </div>
  </div>
</div>
